<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <title>Blaze - ooops</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Why are some pages unable to be blazed?</h1>
    <p>
      The purpose of Blaze is to allow users to navigate the web and access the
      content they need even in challenging connection situations or when
      seeking a minimalistic resource and data usage. However, generating a
      "pure HTML only content page" from every page is not always possible.
    </p>
    <p>
      Blaze utilizes the same library that Firefox uses to generate the "read
      mode" of a page, providing a distraction-free and minimalist version for
      better content absorption. However, this library is primarily designed for
      reading purposes. Therefore, when navigating to websites like Amazon that
      do not contain readable content, Blaze cannot generate a minimalistic
      version of the website.
    </p>
    <h2>But the page was an article/blog post!</h2>
    <p>
      In such cases, it is possible that Blaze has detected a false positive. It
      would be greatly appreciated
      <a href="mailto:support.blaze@dannyspina.com"
        >if you could provide the URL of the page</a
      >
      where you encountered this message while expecting it to work. This
      information will help me reduce false positives for other users as well.
    </p>
    <a href="/">Back to blaze</a>
  </body>
</html>
